* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    --border-color: rgb(75,75,75);
    --highlight-color: purple;
    user-select: none;
}
.gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(-45deg, rgb(160, 34, 160), rgb(179, 41, 41), rgb(184, 184, 35));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
body {
    background-color: rgb(10,10,10);
}
.disabled {
    pointer-events: none;
    opacity: 0.4;
}
.host-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: rgb(20,20,20);
}
.host-container:hover {
    border: 1px solid white;
    cursor: pointer;
}
.hostname {
    color: white;
    margin-left: 5px;
}
.domain {
    color: var(--highlight-color); 
}
.label {
    padding-right: 10px;
}
.forwardingInfo {
    color: var(--border-color); 
    margin-left: 5px;
}
a {
    text-decoration: none;
    color: inherit;
}
#main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
i {
    color: white;
}
.controlContainer {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    min-width: 22px;
}
#header {
    color: var(--border-color);
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid var(--border-color);
}
#title {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    font-style: italic;
}
#footer {
    color: var(--border-color);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--border-color);
}
#serverHost {
    color: var(--highlight-color);
}
.link-seperator {
    color: var(--border-color);
    margin: 10px;    
}